* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position-y: bottom;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: end;
  max-width: 1150px;
  height: 175px;
}

.headingAndSpeech {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: inherit;
}

h1 {
  font-size: 80px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: white;
}

.avatarConatiner{
  height: 125px;
  width: 150px;
}

.playerAvatarConatiner{
  height: 125px;
  width: 150px;
}

.playerAvatar {
  height: inherit;
  width: inherit;
}

.cpuAvatar {
  height: inherit;
  width: inherit;
}

.speech {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.playerSpeech {
  height: inherit;
  width: 400px;
  margin: 0 10px 5px 0;
  background-color: white;
  border: solid black 1px;
  text-align: left;
}

.cpuSpeech {
  height: inherit;
  width: 400px;
  margin: 0 0 5px 10px;
  background-color: white;
  border: solid black 1px;
  text-align: right;
}

main {
  display: flex;
  justify-content: center;
  max-width: 1150px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  height: 500px;
  width: 500px;
  background-color: rgb(124, 230, 194);
  /* background-color: rgb(127, 255, 212); */
  border: 3px solid rgba(0, 0, 0, 0.9);
}


.shipOutline {
  border: 1px solid black;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: rgba(0.1, 0.1, 0.1, 0.001);
}

.shipPlacedMarker {
  border: 1px solid black;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: yellow;
}

.hit {
  border: 1px solid black;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: red;
}

.miss {
  border: 1px solid black;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: navy;
}


.normal {
  border: 1px solid black;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: transparent;
}

.setUp {
  text-align: center;
  width: 150px;
  height: 500px;
}

.setUp button {
  width: 125px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.start {
  height: 75px;
  margin: 80px 0;
  background-color: rgb(14, 172, 14);
  color: white;
}

.reset {
  height: 50px;
  margin: 40px 0;
  background-color: rgb(234, 234, 21);
}

.forfeit {
  height: 50px;
  margin: 40px 0;
  background-color: white;
}

.ships {
  margin: 5px 0;
  height: 105px;
  width: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.boatLarge {
  height: 90px;
  width: 30px;
  border: 1px solid black;
  margin: 5px;
  background-image: url(../assets/ship.png);
  background: cover;
}

.boatMedium {
  height: 75px;
  width: 30px;
  border: 1px solid black;
  margin: 5px;
}

.boatMedium2 {
  height: 75px;
  width: 30px;
  border: 1px solid black;
  margin: 5px;
}

.boatSmall {
  height: 50px;
  width: 30px;
  border: 1px solid black;
  margin: 5px;
}

.boatXSmall {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  margin: 5px;
}

@media (min-width: 1300px) {
  body {
    height: 100vh;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .ships {
    height: 120px;
  }

  .boatLarge {
    height: 100px;
    margin: 10px;
  }
  
  .boatMedium {
    margin: 10px;
  }
  
  .boatMedium2 {
    margin: 10px;
  }
  
  .boatSmall {
    margin: 10px;
  }
  
  .boatXSmall {
    margin: 10px;
  }
}