* {
  box-sizing: border-box;
  font-family: 'Tilt Warp';
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position-y: bottom;
  overflow: hidden;
}

/* ! Header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  width: 1350px;
  height: 125px;
}

.headingAndSpeech {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

h1 {
  font-size: 100px;
  padding: 0;
  margin: 0;
  color: #ffee15;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #1a48a0;
}

.avatarConatiner {
  height: 125px;
  width: 150px;
}

.playerAvatarConatiner {
  height: 125px;
  width: 150px;
}

.playerAvatar {
  height: inherit;
  width: inherit;
}

.cpuAvatar {
  height: inherit;
  width: inherit;
}

/* ! Main section */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1850px;
}

.playerComponents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cpuComponents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.playerAvatarBig {
  display: none;
}

.cpuAvatarBig {
  display: none;
}

/* ! Grid section */

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 600px;
  border-radius: 10px;
  background-image: url(../assets/newEtch.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid {
  border-radius: 2px;
  height: 315px;
  width: 430px;
  background-color: lightgrey;
  border: 5px solid black;
  border-top: 2px solid black;
  border-radius: 10px;
  margin-bottom: 14px;
}


.shipOutline {
  border: 1px solid slategray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: rgb(177, 175, 175);
  color: slategray;
}

.shipPlacedMarker {
  border: 1px solid slategray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: rgb(134, 134, 134);
  color: slategray;
}

.hit {
  border: 1px solid lightslategray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-image: url(../assets/red-marker.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
}

.miss {
  border: 1px solid lightslategray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-image: url(../assets/blue-marker.png);
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  background-color: transparent;
}


.normal {
  border: 1px solid black;
  border: 1px solid lightslategray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  background-color: lightgray;
  color: slategray;
}

/* ! Setup buttons section */

.setUp {
  width: 200px;
  height: 600px;
}
.setUpButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.setUp button {
  width: 180px;
  border-radius: 10px;
  font-weight: bold;
}

.start {
  height: 75px;
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: rgb(14, 172, 14);
  font-size: 30px;
  color: white;
}

.reset {
  height: 50px;
  background-color: rgb(234, 234, 21);
  font-size: 25px;
}

.commentary {
  margin-top: 60px;
  margin-bottom: 25px;
  border: #1a48a0 solid 3px;
  height: 200px;
  width: 180px;
  border-radius: 10px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ! Ships section */

.nameBar {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.character {
  padding-left: 10px;
  font-size: 18px;
  font-weight: lighter;
}

.identifier {
  padding-right: 10px;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
}

.playerShips button:enabled {
  border: 1.5px dashed rgb(14, 172, 14);
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.3);
}

.ships {
  height: 105px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.boatLarge {
  height: 90px;
  width: 30px;
  border: 1.5px dashed white;
  border-radius: 10px;
  margin: 5px;
}

.boatMedium {
  height: 75px;
  width: 30px;
  border: 1.5px dashed white;
  border-radius: 10px;
  margin: 5px;
}

.boatMedium2 {
  height: 75px;
  width: 30px;
  border: 1.5px dashed white;
  border-radius: 10px;
  margin: 5px;
}

.boatSmall {
  height: 50px;
  width: 30px;
  border: 1.5px dashed white;
  border-radius: 10px;
  margin: 5px;
}

.boatXSmall {
  height: 30px;
  width: 30px;
  border: 1.5px dashed white;
  border-radius: 10px;
  margin: 5px;
}

.destroyed {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1.5px dashed rgba(255, 0, 0, 0.8);
}

/* Larger than 13inch MacBook */
@media (min-width: 1600px) {
  .playerAvatar {
    display: none;
  }

  .cpuAvatar {
    display: none;
  }

  .playerComponents {
    width: 750px;
  }

  .cpuComponents {
    width: 750px;
  }

  .playerAvatarBig {
    display: block;
  }

  .cpuAvatarBig {
    display: block;
  }

  .playerAvatar2 {
    height: 700px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  .cpuAvatar2 {
    height: 700px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }

  .playerAvatarBig {
    width: 200px;
  }

  .cpuAvatarBig {
    width: 250px;
  }

  .ships {
    height: 120px;
  }

  .boatLarge {
    height: 100px;
    margin: 10px;
  }

  .boatMedium {
    margin: 10px;
  }

  .boatMedium2 {
    margin: 10px;
  }

  .boatSmall {
    margin: 10px;
  }

  .boatXSmall {
    margin: 10px;
  }
}

.shake {
  animation: shake 2s;
}

@keyframes shake {

  10%,
  90% {
    transform: translateY(-8px);
  }

  20%,
  80% {
    transform: translateY(12px);
  }

  30%,
  50%,
  70% {
    transform: translateY(-16px);
  }

  40%,
  60% {
    transform: translateY(16px);
  }
}